body {
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

#body {
  text-align: left;
  width: 80%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 3px solid #800000;

  box-shadow: 4px 4px 7px #555555;

}

#header {
	background-color: yellow;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 5px;
}

#page {
  padding: 5px;
  width: 75%;
}

#debug {
  background-color: grey;
  text-align: center;
  padding: 1em;
}

textarea {
  width: 90%;
  height: 10em;
}

input {
  width: 90%;
}

.sidenote {
  padding: 3px;
  text-align: left;
  width: 15%;
  background-color: white;
  xmargin-left: auto;
  xmargin-right: auto;

  position: absolute;
  left: 75%;
  top: 4em;

  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 2px solid #800000;

  box-shadow: 4px 4px 7px #400000;
}

.info {
  font-size: smaller;
  margin-top: 1em;
}

.map {
	text-align: center;
}

p {
	padding-left: 1em;
}

h1, h2, h3, h4 {
	padding-left: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 3em;
	border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-webkit-border-radius: 0px 7px 7px 0px;
}

h1 {
	background-color: #999999;
	padding-left: 0px;
	margin-left: 3em;
	margin-right: 3em;
	text-align: center;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}

h2 {
	background-color: #999999;
}

h3 {
	background-color: #bbbbbb;
	padding-left: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
}

h4 {
	background-color: #cccccc;
	padding-left: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
}

dummy {
/* IE10+ */
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #3366FF 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #3366FF 100%);

/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #3366FF 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #3366FF));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, grey 100%);

/* W3C Markup */
background-image: linear-gradient(to bottom, #FFFFFF 0%, grey 100%);
}

